body {
    margin: 0;
}

.container {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    filter: contrast(30);
}

.main-circle {
    background-color: #fff;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    filter: blur(10px);
}

.mini-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    filter: blur(10px);
    top: 0px;
    left: 100px;
    animation: movemove 8s ease infinite;
}

.main-circle:nth-child(3) .mini-circle {
    animation-delay: 0s;
    background-color: rgb(0, 0, 50);
}

.main-circle:nth-child(1) .mini-circle {
    animation-delay: 0.6s;
    background-color: rgb(50, 50, 0);
}

.main-circle:nth-child(2) .mini-circle {
    animation-delay: 1.3s;
    background-color: rgb(50, 0, 0);
}

@keyframes movemove {
    0% {top: 0px}
    25% {top: -600px}
    50% {top: 0px}
    75% {top: 600px}
    100% {top: 0px}
}